<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopeful Flame</title>
    <link rel="icon" href="../static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/LandingPage.css">
</head>

<body>

    <div class="navbar">
        <div class="navbar-logo">
            <img src="../static/images/favicon.png" alt="Logo" height="50">
        </div>
        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="#about">About</a>
            <a href="#projects">Projects</a>
        </div>
    </div>

    <div class="welcome-message">
        Workout <br>
            &   <br>
        Keep Coding!</div>
    </div>

</body>

</html>
